header {
    text-align: center;
    font-size: xx-large;
    background-color: rgb(218, 223, 157);
   
}
 

.inputFields{

padding-top: 20px;

}

body {
    background-color: rgb(216, 164, 182)
}



th, td {
    border: 1px solid black;
    
    background-color: whitesmoke;

}

table {
    background-color: whitesmoke;
    width: 780px;
    border-collapse: collapse;
}

.buttonDiv {
    padding-top: 10px;
    width: 780px;
    overflow: hidden;
    clear: both;
   
  }

.buttonStyle{
    float: right;
    background: paleturquoise;
}

.styleTitle {

    font-weight: bold;
    font-size: x-large;
}