header {
    text-align: center;
    font-size: xx-large;
    background-color: aquamarine;
}


table, th {
    border: 1px solid black;

  }

/* h3 {

    display: flex;
    justify-content: right;
} */

.buttonStyle{

    background: paleturquoise;
}


.TableTest{

    color:rebeccapurple;
}